/*  google font*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");

/* variable css  */

:root {
  --header-height: 3rem;

  /* colors */
  /* color mode HSL(hue, saturation, lightness) */
  --hue: 0;
  --sat: 0%;
  --title-color: #ccd6f6;
  --title-color-dark: #8892b0;
  --text-color: #8892b0;
  --body-color:  #080d30;;
  --container-color: #fff;

  /* font and typography */
  --body-font: "Poppins", sans-serif;

  /* .5rem = 8px | 1rem = 16px */
  --big-font-size: 3.5rem;
  --h1-font-size: 2.25rem;
  --h2-font-size: 1.5rem;
  --h3-font-size: 1.25rem;
  --normal-font-size: 1rem;
  --small-font-size: 0.875rem;
  --smaller-font-size: 0.813rem;
  --tiny-font-size: 0.625rem;

  /* font weight */
  --font-normal: 400;
  --font-medium: 500;
  --font-semi-bold: 600;

  /* Margenes Bottom */
  /* .5rem = 8px | 1rem = 16px */
  --mb-0-25: 0.25rem;
  ---mb-0-5: 0.5rem;
  --mb-0-75: 0.75rem;
  --mb-1: 1rem;
  --mb-1-5: 1.5rem;
  --mb-2: 2rem;
  --mb-2-5: 2.5rem;
  --mb-3: 3rem;

  /* z-index */
  --z-tooltip: 10;
  --z-fixed: 100;
  --z-modal: 1000;
}

/* responsive typo */

@media screen and (max-width: 992px) {
  :root {
    --big-font-size: 2.57rem;
    --h1-font-size: 1.5rem;
    --h2-font-size: 1.25rem;
    --h3-font-size: 1rem;
    --normal-font-size: 0.928rem;
    --small-font-size: 0.813rem;
    --smaller-font-size: 0.75rem;
  }
}

/* base */
* {
  margin: 0;
  padding: 0;
  box-sizing: none;
}

html {
  scroll-behavior: smooth;
}

body,
button,
input,
textarea {
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
}

body {
  /* background-color: var(--body-color); */
  color: var(--text-color);
  background: #080d30;
  
}

h1,
h2,
h3 {
  color: var(--title-color);
  font-weight: var(--font-semi-bold);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

button {
  cursor: pointer;
  border: none;
  outline: none;
}

img {
  max-width: 100%;
  height: auto;
}

/* resusable css classes */
.section {
  padding: 4rem 0 1rem;
  /* background-color: rgba(10, 25, 47, 0.85); */
  /* background: #080d30; */
}
.section-title {
  font-size: var(--h1-font-size);
  color: var(--title-color); /* text to title */
}

.section-subtitle {
  display: block;
  font-size: var(--small-font-size);
  margin-bottom: 4rem;
}

.section-subtitle,
.section-title {
  text-align: center;
}

/* layout */
.container {
  max-width: 968px;
  margin-left: auto;
  margin-right: auto;
}

.grid {
  display: grid;
  gap: 1.5rem;
}

/* buttons */
.button {
  display: inline-block;
  background-color: transparent;
  border: 1px solid #64ffda;
  color: #64ffda;
  padding: 1.25rem 1.75rem;
  border-radius: 0.5rem;
  font-weight: var(--font-medium);
}

.button:hover {
  background-color: var(--title-color-dark);
}

.button-icon {
  margin-left: var(---mb-0-5);
}

.button-flex {
  display: inline-flex;
  align-items: center;
}

/* large device */
@media screen and (max-width: 992px) {
  .container {
    margin-left: var(--mb-1-5);
    margin-right: var(--mb-1-5);
  }

  .button {
    padding: 1rem 1.75rem;
  }

  .button-icon {
    width: 22px;
    height: 22px;
  }
}

/* medium device */
@media screen and (max-width: 768px) {
  body {
    margin: 0 0 var(--header-height) 0;
  }

  .section {
    padding: 2rem 0 4rem;
  }

  .section-subtitle {
    margin-bottom: var(--mb-3);
  }
}

@media screen and (max-width: 576px) {
}

/* small device */
@media screen and (max-width: 350px) {
  :root {
    --big-font-size: 2.25rem;
  }
  .container {
    margin-left: var(--mb-1);
    margin-right: var(--mb-1);
  }
}

.spinner-box {
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
  position: fixed;
  inset: 0px;
  width: 100%;
  height: 100%;
  z-index: 99;
  background: #080d30;
}

.configure-border-1 {
  width: 70px;
  height: 70px;
  padding: 3px;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgb(63, 249, 220);
  animation: configure-clockwise 3s ease-in-out 0s infinite alternate;
}

.configure-border-2 {
  width: 70px;
  height: 70px;
  padding: 3px;
  /* left: -115px; */
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgb(63, 249, 220);
  transform: rotate(45deg);
  animation: configure-xclockwise 3s ease-in-out 0s infinite alternate;
  position: relative;
}

.configure-core {
  width: 100%;
  height: 100%;
  background: #080d30;
}
.configure-border-2 span {
  color: #64ffda;
  text-align: center;
  font-size: 20px;
  position: absolute;
}

@keyframes configure-clockwise {
  0% {
    transform: rotate(0);
  }
  25% {
    transform: rotate(90deg);
  }
  50% {
    transform: rotate(180deg);
  }
  75% {
    transform: rotate(270deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes configure-xclockwise {
  0% {
    transform: rotate(45deg);
  }
  25% {
    transform: rotate(-45deg);
  }
  50% {
    transform: rotate(-135deg);
  }
  75% {
    transform: rotate(-225deg);
  }
  100% {
    transform: rotate(-315deg);
  }
}
